body {
    
    background-image: url('images/orderplace.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 h1{
  /* background-color: rgb(114, 89, 89); */
  color: white; 
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }